* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  width: 100%;
}

.carousel {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 500px;
}

.slide {
  width: 100%;
  height: 100%;
}

.slideSin {
  width: 100%;
  height: 100%;
}

/* CAROSELLO SINISTRA */

.caroselloSinistra {
  width: 80%;
  height: 100%;
  position: relative;
}

.caroselloSinistra img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

/* CAROSELLO DESTRA */

.caroselloDestra {
  width: 20%;
  height: 100%;
  background-color: #000;
}

.caroselloDestra .slide {
  height: calc(100% / 5);
}

.caroselloDestra img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.current img {
  display: block;
}

.trasparente {
  opacity: 0.5;
}

.previous,
.next {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.712);
  line-height: 30px;
  position: absolute;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.previous {
  top: 7px;
  right: 84px;
}

.next {
  bottom: 7px;
  right: 84px;
}

.hidden {
  display: none;
}

.uno img {
  object-position: 0px -187px;
}

.unoDes img {
  object-position: 0px -44px;
}

.tre img {
  object-position: -495px 0px;
}

.quattro img {
  object-position: -303px 0px;
}

.treDes img {
  object-position: -64px 0px;
}

.cinque img {
  object-position: 0px -177px;
}
